@page "/event"
@using DataClasses
@inject HttpClient Http

<h1>Events</h1>

<h2>Scheduled events</h2>

@if (events.Count > 0)
{
    @foreach (Event e in events)
    {
        <div>
            <h3>Topic: @e.Topic</h3>
            <p>Category: @e.Category</p>
            <p>Start time: @e.StartTime</p>
            <p>End time: @e.EndTime</p>
            <p>Capacity: @e.NumberOfSeats</p>
            <p>Registered: @e.RegisteredUsers</p>
        </div>
    }
}
else
{
    <p>Loading...</p>
}

@code {

    List<Event> events;

    protected override async Task OnInitializedAsync()
    {
        events = await Http.GetFromJsonAsync<List<Event>>("localhost:44338/api/event");
    }

}