@page "/schedule"
@using DataClasses
@using System.Net.Http
@inject HttpClient Http

<h1>Scheduled events</h1>

@if (events.Length > 0)
{
    <table>
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Category</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Capacity</th>
                <th>Registered Users</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Event e in events)
            {
                <tr>
                    <td>@e.EventName</td>
                    <td>@e.Category</td>
                    <td>@e.StartTime</td>
                    <td>@e.EndTime</td>
                    <td>@e.NumberOfSeats</td>
                    <td>@e.RegisteredUsers</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}

<a href="new_event">New Event</a>

@code {
    static Event testEvent = new Event("How to be cool",
                "Educational",
                DateTime.Now,
                DateTime.Now.AddHours(2),
                new Event.EventHost("Kenneth", "Jensen", "123@abc.com", "12345678"));

    Event[] events = new Event[] {
        testEvent
    };

    protected override async Task OnInitializedAsync()
    {
        // events = await Http.GetFromJsonAsync<Event[]>("https://localhost:5001/event");
    }


}