@page "/schedule"
@using DataClasses
@using System.Net.Http
@using Client.Security
@inject HttpClient Http
@inject UserManager User

<h1>Scheduled events</h1>

@if (events.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Category</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Capacity</th>
                <th>Registered Users</th>
                <th>Room Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Event e in events)
            {
                <tr>
                    <td>@e.EventName</td>
                    <td>@e.Category</td>
                    <td>@e.StartTime</td>
                    <td>@e.EndTime</td>
                    <td>@e.NumberOfSeats</td>
                    <td>@e.RegisteredUsers</td>
                    <td>@e.Room.RoomNumber</td>
                    @if (User.Access == UserManager.UserPrivilege.Admin)
                    {
                        <td><a href="edit_event/@e.Id">Edit</a></td>
                    }
                    else
                    {
                        @if (e.NumberOfSeats > e.RegisteredUsers)
                        {
                            <td><button @onclick="@(a => SignUp(e))">Sign Up</button></td>
                        }
                        else
                        {
                            <td>Full</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}

@if (User.Access == UserManager.UserPrivilege.Admin)
{
    <a href="new_event">New Event</a>
} else
{
    <a href="request">Request Event</a>
}

@code {
    List<Event> events = new List<Event>();

    protected override async Task OnInitializedAsync()
    {

        await GetEvents();
    }

    private async Task GetEvents()
    {
        events = await Http.GetFromJsonAsync<List<Event>>("event");
    }

    private async Task SignUp(Event e)
    {
        await Http.GetFromJsonAsync<bool>($"event/request/signup?id={e.Id}");
        await GetEvents();
    }

}